.zsh_history
.zcompdump
dotfiles/.fonts/.uuid
dotfiles/.config/nvim/lazy-lock.json
dotfiles/.config/sway/generated-extra-config
dotfiles/.config/sway/outputs
dotfiles/.config/sway/workspaces

dotfiles/.config/nvim/lazy-lock.json
